{
  "env": { "browser": true, "es2021": true },
  "plugins": ["compat", "jsdoc"],
  "extends": [
    "plugin:compat/recommended",
    "plugin:security/recommended",
    "plugin:jsdoc/recommended",
    "eslint:recommended",
    "standard",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
